@font-face {
  font-family: 'SF Display';
  src: url('@/assets/fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'SF Display', sans-serif;
}
